* {
  font-family: system-ui;
}

nav,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  z-index: 1000;
  background-color: white;
}
.header nav {
  width: 80%;
}
.header a {
  font-weight: 700;
  font-size: xx-large;
}
.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.header ul li {
  white-space: nowrap;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 18px;
}
.header a {
  text-decoration: none;
}

#aboutme {
  scroll-margin-top: 200px;
}

.about_me {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-bottom: 200px;
  justify-content: space-around;
  align-items: center;
}
.about_me section {
  width: 700px;
}
.about_me section h1 {
  font-size: 50px;
}
.about_me img {
  width: 35%;
  height: auto;
  object-fit: cover;
}

#mastack {
  scroll-margin-top: 200px;
}

.maStack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 400px;
  padding-top: 200px;
}
.maStack section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 70%;
}
.maStack span {
  font-size: x-large;
  font-weight: 900;
}
.maStack--composant {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 27px;
}
.maStack--composant img {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

#portfolio {
  scroll-margin-top: 100px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  padding-bottom: 0;
  padding-top: 50px;
  text-align: left;
}
.projects--components {
  text-align: center;
  margin-bottom: 500px;
}
.projects--components h1 {
  font-size: 50px;
}

.site-button-ghost-wrapper {
  margin-top: 3%;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 50px;
}
.project img {
  height: 300px;
  object-fit: contain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tags {
  display: flex;
  flex-direction: row;
}
.tags-unit {
  background-color: #eeeeee;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
}

.contact {
  text-align: center;
  margin-bottom: 200px;
}
.contact--component {
  display: flex;
  flex-direction: row;
  padding: 200px;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}
.contact--component li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 20px;
}
.contact--component li img {
  width: 50px;
  height: auto;
  padding-right: 5px;
}

footer {
  display: flex;
  justify-content: center;
}

.scroll-down-arrow {
  position: fixed;
  bottom: 0;
}

@media (max-width: 1280px) {
  .header a {
    font-size: 0.9em;
  }
  .header ul li a {
    font-size: 1.5em;
  }
  .about_me {
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .about_me section {
    width: 50%;
  }
  .about_me section h1 {
    font-size: 40px;
  }
  .about_me img {
    width: 30%;
    margin-bottom: 20px;
  }
  .maStack {
    padding-top: 50px;
    scroll-margin-top: 70px;
  }
  .maStack section {
    width: 80%;
  }
  .maStack--composant {
    margin-right: 0;
    margin-bottom: 20px;
  }
  #portfolio {
    scroll-margin-top: 70px;
  }
  .projects--components {
    margin-bottom: 200px;
  }
  .projects--components h1 {
    font-size: 40px;
    margin: 10px;
    margin-bottom: 10px;
  }
  .projects {
    padding: 50px;
    padding-top: 50px;
  }
  .site-button-ghost-wrapper {
    margin-top: -3%;
  }
  .project {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  .project-details {
    margin-left: 20px;
    width: 50%;
  }
  .project img {
    height: 200px;
  }
  .tags-unit {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
  }
  .contact {
    margin-bottom: 150px;
  }
  .contact--component {
    padding: 50px 20px;
  }
  .contact--component li {
    padding-left: 10px;
  }
  .contact--component li img {
    width: 30px;
  }
  footer {
    padding: 20px;
  }
  .scroll-down-arrow {
    bottom: 10px;
  }
}
@media (max-width: 1001px) {
  .header ul li a {
    width: 100%;
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .about_me {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .about_me section {
    width: 100%;
  }
  .about_me section h1 {
    font-size: 30px;
  }
  .about_me img {
    width: 50%;
    margin-bottom: 10px;
  }
  .maStack {
    padding-top: 30px;
  }
  .maStack section {
    width: 100%;
  }
  .maStack--composant {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #portfolio {
    scroll-margin-top: 50px;
  }
  .projects {
    padding: 20px;
    padding-top: 5px;
  }
  .projects--components {
    margin-bottom: 100px;
  }
  .projects--components h3 {
    display: none;
  }
  .projects--components h1 {
    font-size: 30px;
    margin: 5px;
  }
  .project {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .project-details {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .project img {
    height: 150px;
    width: 100%;
  }
  .tags-unit {
    margin: 3px;
    padding: 3px;
    font-size: 12px;
  }
  .contact {
    margin-bottom: 100px;
  }
  .contact--component {
    padding: 30px 10px;
  }
  .contact--component li {
    padding-left: 5px;
  }
  .contact--component li img {
    width: 20px;
  }
  footer {
    padding: 10px;
  }
  .scroll-down-arrow {
    bottom: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
